.courses-card {
    label {
        color: #3399ff;
    }
    .courses-table {
        th,
        td {
            white-space: nowrap;
        }
        tbody {
            td {
                vertical-align: middle;
                &.courses-status,
                &.courses-card_status {
                    .alert,
                    .badge {
                        width: 80px;
                    }
                }
            }
        }
    }
}
