$colors: (
    error: #e55353,
    success: #2eb85c,
    warning: #f9b115,
    secondary: #ced2d8,
);
@each $colorname, $color in $colors {
    .square--#{$colorname} {
        background-color: $color;
    }
}

.courses-card {
    label {
        color: #3399ff;
    }
    .courses-table {
        th,
        td {
            white-space: nowrap;
        }
        tbody {
            td {
                vertical-align: middle;
                &.courses-status,
                &.courses-card_status {
                    .alert,
                    .badge {
                        width: 80px;
                    }
                }
            }
        }
    }
}
