$colors: (
    error: #e55353,
    success: #2eb85c,
    warning: #f9b115,
    secondary: #ced2d8,
);

// table
.courses-card {
    label {
        color: #3399ff;
    }
    .courses-table {
        th,
        td {
            white-space: nowrap;
        }
        tbody {
            td {
                vertical-align: middle;
                &.courses-status {
                    @each $colorname, $color in $colors {
                        .#{$colorname} {
                            &.ant-select {
                                .ant-select-selector {
                                    background-color: $color;
                                }
                            }
                        }
                    }
                }
                // &.courses-status,
                // &.courses-card_status {
                //     .alert,
                //     .badge {
                //         width: 80px;
                //     }
                // }
            }
        }
    }
}

// modal
label.custom-file-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 80px;
}

// toast
.toast-custom {
    @each $colorname, $color in $colors {
        .#{$colorname} {
            background-color: $color;
        }
    }
}
