.trainess-card {
    label {
        color: #3399ff;
    }
    .trainess-table {
        th,
        td {
            white-space: nowrap;
        }
        tbody {
            td {
                vertical-align: middle;
            }
        }
    }
}

.hand {
    img {
        z-index: 2;
        pointer-events: none;
    }
    .hand-touch {
        width: 20px;
        height: 20px;
        box-shadow: none;
        z-index: 1;
        div {
            &.have {
                border: 3px solid #2eb85c;
                cursor: pointer;
            }
            &.have-not {
                border: 3px solid #3399ff;
                cursor: no-drop;
            }
        }
        &.disabled,
        &.disabled > div {
            cursor: unset;
        }
        &-0 {
            top: 20px;
            left: 8px;
        }
        &-1 {
            top: 0px;
            left: 24px;
        }
        &-2 {
            top: -8px;
            left: 48px;
        }
        &-3 {
            top: -2px;
            left: 74px;
        }
        &-4 {
            top: 42px;
            left: 96px;
        }
        &-5 {
            top: 42px;
            left: 8px;
        }
        &-6 {
            top: -2px;
            left: 30px;
        }
        &-7 {
            top: -8px;
            left: 56px;
        }
        &-8 {
            top: 0px;
            left: 80px;
        }
        &-9 {
            top: 20px;
            left: 96px;
        }
    }
}
