$utilities: (
    "pointer-events": (
      property: pointer-events,
      class: pe,
      values: none auto,
    ),
    // "border-width": (
    //     property: border-width,
    //     class: border,
    //     values: $border-widths,
    // ),
    // "top": (
    //     property: top,
    //     class: top,
    //     values: $positions,
    // ),
    // "right": (
    //     property: right,
    //     class: right,
    //     values: $positions,
    // ),
    // "bottom": (
    //     property: bottom,
    //     class: bottom,
    //     values: $positions,
    // ),
    // "left": (
    //     property: left,
    //     class: left,
    //     values: $positions,
    // ),
);
